* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --bodybg-navtitle-color: #ec9191;
  --headerbg-navtext-color: #f1d185;
  --navbg-bodytext-color: #305f72;
  --codebg-hover-color: #568ea6;
  --codetext-color: #ffffff;
  --borders-shawdows-color: #f0b7a4;
}

body {
  font-family: 'JetBrains Mono', monospace;
  color: var(--navbg-bodytext-color);
  background-color: var(--bodybg-navtitle-color);
  display: flex;
  flex-direction: row;
}

/* #navbar {
  height: 100%;
} */

@media screen and (min-width: 1500px) {
  #navbar {
    height: 100%;
  }
}
