* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --title-mainbackground-color: #f18c8e;
  --borders-shadows-color: #f0b7a4;
  --navlinks-headers-color: #f1d1b5;
  --hover-code-color: #568ea6;
  --navbar-mainfont-color: #305f72;
  --codefont-color: #ffffff;
}
body {
  font-family: "JetBrains Mono", monospace;
  color: #305f72;
  background-color: var(--title-mainbackground-color);
}

#navbar {
  position: fixed;
  height: 100%;
  min-width: 19rem;
  background-color: var(--navbar-mainfont-color);
  font-family: "JetBrains Mono", monospace;
  color: var(--navlinks-headers-color);
  text-align: center;
  padding: 2rem 0 0 0;
}
#navbar ul {
  height: 88%;
  padding: 0;
  padding-top: 1rem;
}
#navbar li {
  list-style: none;
  border-bottom: 2px solid var(--navlinks-headers-color);
  position: relative;
  width: 100%;
  text-align: center;
}
li:first-child {
  border-top: 2px solid var(--navlinks-headers-color);
}
li a:hover {
  background-color: var(--hover-code-color);
}
#navbar a {
  display: block;
  padding: 10px 30px;
  color: var(--navlinks-headers-color);
  text-decoration: none;
  cursor: pointer;
}

/* main content */

.container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 21rem;
}
.code-example {
  background: var(--hover-code-color);
  margin: 1rem 5rem 1rem 5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 5px var(--borders-shadows-color);
}
pre {
  color: var(--codefont-color);
  font-size: larger;
}
.h1 {
  background-color: var(--navlinks-headers-color);
  width: 15rem;
  padding: 1rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
