/* color pallete

pink-orange: #f18c8e
light orange: #f0b7a4
light yellow: #f1d1b5
teal: #568ea6
dark teal: #305f72 */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "JetBrains Mono", monospace;
  color: #305f72;
  background-color: #f18c8e;
}

#navbar {
  position: fixed;
  height: 100%;
  min-width: 19rem;
  background-color: #305f72;
  font-family: "JetBrains Mono", monospace;
  color: #f18c8e;
  text-align: center;
  padding: 2rem 0 0 0;
}
#navbar ul {
  height: 88%;
  padding: 0;
  padding-top: 1rem;
}
#navbar li {
  list-style: none;
  border-bottom: 2px solid #f0b7a4;
  position: relative;
  width: 100%;
  text-align: center;
}
li:first-child {
  border-top: 2px solid #f0b7a4;
}
li a:hover {
  background-color: #568ea6;
}
#navbar a {
  display: block;
  padding: 10px 30px;
  color: #f1d185;
  text-decoration: none;
  cursor: pointer;
}

/* main content */

.container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 21rem;
}
.code-example {
  background: #568ea6;
  margin: 1rem 5rem 1rem 5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 5px #f0b7a4;
}
pre {
  color: #ffffff;
  font-size: larger;
}
.h1 {
  background-color: #f1d185;
  width: 15rem;
  padding: 1rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
